@model Francescas.WeeklyScheduler.Models.EmailScheduleViewModel

@{
    ViewBag.Title = "Email Schedule";
}

<h2>Email Schedule</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Store, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Store, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Store, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new {htmlAttributes = new {@class = "form-control", @id = "datetimepicker"}})
                @Html.ValidationMessageFor(model => model.Date, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomEmail, new {htmlAttributes = new {@class = "form-control", @id = "datetimepicker"}})
                @Html.ValidationMessageFor(model => model.CustomEmail, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send E-Mail" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ManageStores")
</div>

@section scripts
{
    <script type="text/javascript">
$(function () {
    $("#datetimepicker").datetimepicker({
        format: "MM/DD/YYYY"
    });
});
    </script>
}