<!DOCTYPE html>
<html ng-app="ZCentralDB">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Z | Companies - Client Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" ng-controller="loginController as vm">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Z | Companies</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="products.all" ng-show="true">Products</a></li>
                    <li><a ui-sref="runner.all" ng-show="vm.isRunner();">Runner</a></li>
                    <li><a ui-sref="vendor.open" ng-show="vm.isVendor();">Vendor</a></li>
                    <li><a ui-sref="orders.open" ng-show="vm.isAdmin();">Orders</a></li>
                    <li><a ui-sref="location.stores" ng-show="vm.isAdmin();">Location</a></li>
                    <li><a ui-sref="employees.all" ng-show="vm.isAdmin();">Employees</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login" ng-show="!vm.isLoggedIn()">Login</a></li>

                    <li><a ng-click="vm.logout()" ng-show="vm.isLoggedIn()" style="cursor:pointer;">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>
